@model EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Kategori Güncelleme Sayfası</h1>
@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori ID")
        @Html.TextBoxFor(x=>x.CategoryId,new { @class = "form-control"})
        <br>
        @Html.Label("Kategroi Adı")
        @Html.TextBoxFor(x=>x.CategoryName,new { @class = "form-control"})
        <br>
        @Html.Label("Kategroi Açıklaması")
        @Html.TextAreaFor(x=>x.CategoryDescription,new { @class = "form-control"})
        <br/>
        <button class="btn btn-success">Güncelle</button>
    </div>
}
